Repository celo-org/react-celo, pull requests merged in 2022-05, with the labels that each got.

#155 Use CK 3.1 release
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/use-contractkit/src/use-contract-kit-methods.ts
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
  readme.md
  yarn.lock
Labels: dont merge

#163 chore: Label all issues in repo as Applications so they show in zenhub
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Applications

#204 Add Aliases for old function names
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/use-celo.tsx
Labels: Applications, v4

#218 fix: destroy not re-rendering
  packages/example/components/test-plan/disconnect-button.tsx
  packages/example/pages/_app.tsx
  packages/example/pages/wallet-test-plan.tsx
Labels: v4

#219 Allow updateTheme to take a null value
  packages/example/components/theme-button.tsx
  packages/example/pages/index.tsx
  packages/react-celo/src/use-celo-methods.ts
  packages/react-celo/src/use-celo.tsx
Labels: v4

#242 remove ethereumjs utils
  packages/walletconnect-v1/__tests__/utils/common.ts
  packages/walletconnect-v1/jest.config.js
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/src/utils/from-rpc-sig.test.ts
  packages/walletconnect-v1/src/utils/from-rpc-sig.ts
  packages/walletconnect-v1/src/wc-signer.ts
Labels: v4.1

#239 Optimize SVGs
  packages/react-celo/src/components/copy.tsx
  packages/react-celo/src/walletIcons.tsx
Labels: v4.1
